<launch>
    <include file="$(find low_intermediate_navigation)/launch/spawn_boat_model.launch" />
    <include file="$(find low_intermediate_navigation)/launch/state_publisher.launch" />
    <include file="$(find low_intermediate_navigation)/launch/laser_urdf.launch" />
    <include file="$(find low_intermediate_navigation)/launch/rosserial.launch" />
    <include file="$(find low_intermediate_navigation)/launch/odom_pub.launch" />
    <!--node pkg="odysseyblue" type="odom.py" name="odom_node" output="screen"/-->
    <!--<include file="$(find low_intermediate_navigation)/launch/kinematic.launch" />-->
    <!--<node pkg="odysseyblue" type="convert_vel.py" name="convert_vel_node" output="screen"/>-->
    <node pkg="low_intermediate_navigation" type="kinematic.py" name="kinematic" output="screen"/>
</launch>
